<h1>Login</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <input
      type="text"
      placeholder="Username"
      formControlName="username"
      [class.invalid]="isFieldValid('username')"
    />
    @if(isFieldValid('username')) {
      <span class="error">This field is required.</span>
    } 
  </div>
  <div>
    <input
      type="password"
      placeholder="Password"
      formControlName="password"
      [class.invalid]="isFieldValid('password')"
    />
    @if(isFieldValid('password')) {
      <span class="error">This field is required.</span>
    } 
  </div>
  <div>
    <button type="submit">Sign In</button>
  </div>
  @if(loginError){
    <span class="error">{{loginError}}</span>
  }
</form>
